body {
    background-color:#F8F8F8!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}